1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1='This is a test of the emergency text system,'
try :
    f = open("test.txt", "a")
    f.write(test1)
    f.close()
except:
    print("exception occured")

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [2]:
try :
    f = open("test.txt", "r")
    test2=f.read()
    f.close()
except:
    print("exception occured")  
    
print(test2)

This is a test of the emergency text system,

3. Create a CSV file called books.csv by using these lines:

title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [43]:
import csv
import traceback
try :
    file = open("books.csv",'w',newline='')
    csvwriter=csv.writer(file)
    content="""title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992"""

    data=content.split(sep='\n')
    list_of_rows=[]
    for i in data:
        list_of_rows.append(i.split(sep=','))

    # print(list_of_rows)    
    csvwriter.writerows(list_of_rows)
    file.close()
except:
    traceback.print_exc()


4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [1]:
import sqlite3
conn=sqlite3.connect("books.db")
c=conn.cursor()
c.execute("Create table books(title text,author text,year int)")


5. Read books.csv and insert its data into the book table.

In [27]:
import csv
import sqlite3
conn=sqlite3.connect("books.db")
c=conn.cursor()
file = open('books.csv')
contents = csv.reader(file)
next(contents) #skip header

insert_record="insert into books values(?,?,?)"
c.executemany(insert_record,contents)

conn.commit()
conn.close()

6. Select and print the title column from the book table in alphabetical order.

In [30]:
conn=sqlite3.connect("books.db")
c=conn.cursor()
select_all="Select title from books"
rows=c.execute(select_all).fetchall()
for i in rows:
    print(i)
conn.commit()
conn.close()

('The Weirdstone of Brisingamen',)
('Perdido Street Station',)
('Thud!',)
('The Spellman Files',)
('Small Gods',)

In [21]:
# conn=sqlite3.connect("books.db")
# c=conn.cursor()
# delete_all="delete from books"
# c.execute(delete_all)
# conn.commit()
# conn.close()

7. From the book table, select and print all columns in the order of publication.

In [31]:
import sqlite3

conn=sqlite3.connect("books.db")
c=conn.cursor()
query="select * from books order by author"
rows=c.execute(query).fetchall()
for row in rows:
    print(row)
conn.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('The Spellman Files', 'Lisa Lutz', 2007)
('Thud!', 'Terry Pratchett', 2005)
('Small Gods', 'Terry Pratchett', 1992)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [38]:
import sqlalchemy as db
engine = db.create_engine('sqlite:///books.db', echo = True)
conn = engine.connect()
rows=conn.execute("Select * from books").fetchall()
for row in rows:
    print(row)

2023-01-25 18:56:10,017 INFO sqlalchemy.engine.Engine Select * from books
2023-01-25 18:56:10,019 INFO sqlalchemy.engine.Engine [raw sql] ()
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [16]:

import redis   

# Create a redis client

redis_cli = redis.Redis(host="localhost", port=6379, decode_responses=True, encoding="utf-8")
redis_cli.delete("test")
redis_cli.hset("test", mapping={"count": 1, "name": "Fester Bestertester"})

print(redis_cli.hkeys("test"))

['count', 'name']


10. Increment the count field of test and print it.

In [17]:
current_count=redis_cli.hget("test", "count")
redis_cli.hset("test", "count", int(current_count)+1)
redis_cli.hgetall("test")

{'count': '2', 'name': 'Fester Bestertester'}